<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.upi.payment">

    <application>
        <activity
            android:name="io.upi.payment.ui.PaymentActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
    </application>

</manifest>